{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<main class="container mt-3 mb-5">
    <h3 class="border-bottom pb-1 my-4">About Picoin magazine</h3>
    <div class="row">
        <p class="card-text">
            Picoin magazine aims to be the most established source of expert commentary,
            analysis, education and solid research about the Pi Network. Think of us as an online
            magazine covering every bit about Pi!</p>

            <p class="card-text">
                We are deeply passionate about the networj and hence we strive to present useful content to the Pi community.
            </p>
            <p class="card-text">
                Following the philosophy of the network we do not want anyone to be left behind so our content is carefully structured
                both for the newcomers or blockchain savy people, developers, investors and entrepreneurs.
            </p>
            

            <p class="card-text">
                Picoin magazine will also feature events around the world of engaged Pi enthusiasts, an online store for Pi merch, short
                courses on cryptocurrencies, Pi culture and market news. As a result our platform accepts article entries from freelance 
                cryptocurrency journalists who want to write meaningful news about Pi.
            </p>
            
            <p class="card-text">
                Picoin magazine was founded by Farai Nechikwira in January 2023 after he realized the popularity of Pi Network
                and hence the need of an online platform where Pioneers can find everything about Pi.
            </p>
            
            <p class="card-text">
                If you want to support us you can donate Pi through our donation link below.
            </p>
                   
    </div>
</main>
{% endblock %}