{% extends 'base.html' %}
{% block title %}Jobs{% endblock %}
{% block content %}

<main class="container mt-3 mb-5">
    <h3 class="border-bottom pb-1 my-4">Pi related job vacancies</h3>
    <!-- <div class="row"> -->
    <div class="main">

        <p> <b>Available Jobs</b></p>
        <p>Coming soon...
        </p>
        <p>The platform is still being developed, and waiting for authorization from the Pi coreteam to start
            posting jobs.
        </p>
        <p>At Picoin magazine our platform thrives because of content written by engaged freelance journalists who
           write a range of topics concerning the Pi network. We will cater for both journalists who want to freely contribute
           and those who want to be paid (more updates coming soon).
        </p>
    </div>
    <style type="text/css">
        .main {
            width: 800px;
            margin: 0px auto;
        }
    </style>
</main>
{% endblock %}