{% extends 'base.html' %}
{% block title %}Learn{% endblock %}
{% block content %}

<main class="container mt-3 mb-5">
    <h3 class="border-bottom pb-1 my-4">Get to know Pi</h3>
    <!-- <div class="row"> -->
    <div class="main">

       <p> <b>Pi Network explained</b></p>

        <p>The Pi Network was established by Stanford University academics Nicolas Kokkalis and Chengdiao Fan in 2018. On 14 March
        2019, they published a whitepaper and released the Pi Network app.</p>
        
        <p>The Pi Network app is used to mine the Pi cryptocurrency, with users pressing a button every 24 hours.</p>
        
        <p>Users get an invitation code from a member to join the app. The platform has a referral system in which users earn extra
        money based on how many new users they sign up.</p>
        
        <p>Pi Network differs from many other cryptocurrencies in that it employs a proprietary mechanism known as the Stellar
        Consensus Protocol, which enables users to receive benefits for their participation in the network.</p>
        
        
        <p>You can read the <a href=" https://minepi.com/white-paper">white paper</a> for more indepth detail about the network.</p>
       
        
        <p>There are four types of users on the Pi Network, These are:</p>
        
        
        <ul>
            <li>
                <p><strong>Pioneer</strong>: People who mine Piby tapping the lightning button. There were more than 35 million Pioneers, as of 5 January
                2023.</p>
            </li>
            <li>
                <p> <strong>Contributor</strong>: Users provide a list of trustworthy users to the network in exchange for an incentive.</p>
            </li>
            <li>
                <p><strong>Ambassadors</strong>: People who bring new users to the network using their referral code.</p>
            </li>
            <li>
                <p><strong>Nodes</strong>: Participants using the Pi node software on their home computers.</p>
            </li>

        </ul>
        <p>
        When the pi network was launched, the basic mining rate was 1.6 PI per hour, which was reduced to 0.8 PI after 100,000
        users were added. When one million people began using the app, the reward decreased to 0.4 PI per hour, and then dropped
        to 0.2 PI per hour once its user base reached 10 million. The mining will continue to go until the network reaches one
        billion members.</p>
        <p><iframe style="display: block; margin: auto;" width="538" height="303"
                        src="https://www.youtube.com/embed/MsOaC61cR3U" title="Pi" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe></p>
    
    </div>
    <style type="text/css">
        .main {width:800px;margin:0px auto;}
    </style>
</main>
{% endblock %}